/* google font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,300;0,700;0,900;1,100;1,300&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #2C2A4A;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  color: white;
}
header {
  background: #4F518C;


}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;


  a {
    color: white;
  }
}

.container {

  .links {
    display: flex;
    gap: 40px;
    list-style-type: none;

    .badge {
      span {
        background-color: #2C2A4A;
      }
    }

    .Faves {
      position: relative;
    }

  }
}

/* .links li {
  text-decoration: none;
} */

header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;

    .card {
      width: 300px;
      background: #4F518C;
      border-radius: 3px;
      box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
      overflow: hidden;
      position: relative;


      .image {
        position: relative;

        .heart {
          position: absolute;
          top: 10px;
          left: 10px;
          font-size: 30px;
          cursor: pointer;
          color: #a5a5a5;

          &:hover {
            color: white;
          }

          &.faved {
            color: crimson;
          }
        }

        .more {
          position: absolute;
          top: 10px;
          right: 10px;
          font-size: 30px;
          cursor: pointer;
          color: #a5a5a5;

          &:hover {
              color: white
          }
        }


      }

      img {
        max-width: 100%;
      }

      .cardInfo {
        max-height: 100%;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        h3 {
          margin: 0;
        }

        span {
          // background-color: #2C2A4A;
          // padding: .5rem;
          // border-radius: 3px;
        }
      }

      .modal {
        background: #f1f1f1;
        color: #2C2A4A;
        max-height: 100%;
        border-radius: 3px;
        padding: 20px;
        margin: 0 auto;
        position: absolute;
        bottom: 0;
        overflow: hidden;
        transition: all 0.4s ease-out;
        transform: translateY(100%);
        cursor: pointer;

        .expand {
          width: 100%;
          cursor: pointer;
        }

        &.opened {
          transform: translateX(0);
        }
      }
    }
    }






/* new movie form */
label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
